body {
    background-color: #64a2f3;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  
  .container {
    background-color: #9bd494;
    text-justify: inter-word;
    padding-left: 20px;
    padding-right: 20px;
  }
 
  p {
    padding: 15px;
    margin: auto;
    font-size: 4vh;
  }
  
  ul li {
    display: inline;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  
  h2 {
    padding: 7px;
    margin: auto;
    text-align: center;
    font-size: 4.5vh;
  }
  
  #mainTitleDiv {
    padding: 7px;
    color: white;
    background-color: rgb(1, 48, 21);
    text-align: center
  }
  
  .subTitleDiv {
    background: #1a1ac7;
    color: white;
    border-radius: 25px;
    text-align: center;
    font-size:4.5vh
  }
  